

    <!-- <section class="hero">
      <header>
        <nav>
          <div class="logo">
            
            <span class="dot"></span>
            Shop <br />
            Manager
            <span class="dot"></span>
            
          </div>
          
          <div class="nav-links">
            <a (click)="loginAction()">Login</a>
            <a (click)="signupAction()">Sign-up</a>
            <a (click)="forgotPasswordAction()">Forgot Password</a>
            
          </div>
        </nav>
      </header>
      <div class="intro">
        <div class="intro1">
          <span class="sub">Shop Manager</span>
          <p class="description">Manage Your Products and Users at One Place</p>
        </div>
        
      </div>
      <div class="hero-bg">
        <img src="..\assets\img\cup_of_coffee.png" alt="cup of coffee" />
      </div>
   
    </section> -->





    <!-- ///// -->

    <div class="header">
      <div class="logo">
            
        <span class="dot"></span>
        Shop <br />
        Manager
        <span class="dot"></span>
        
      </div>
      
      <div class="header-right">
        <a class="active btn" (click)="loginAction()">Login</a>
            <a class="btn"(click)="signupAction()">Sign-up</a>
            <a class="btn"(click)="forgotPasswordAction()">Forgot Password</a>
      </div>
    </div>
        <div class="body-element">
          <img  class="image" src="../../assets/img/shop.png" alt="">
          <div>
            <h1 class="text t1">Shop Manager</h1>
            <h3 class="text t2">Manage Customers and Users<br/> at Single Place</h3>
          </div>
        
      </div>
    